:root {
    --primary-color: rgb(155, 37, 37);
    --primary-light: rgb(177, 69, 69);
    --primary-dark: rgb(85, 24, 24);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2em;
    color: var(--primary-color);
}

.profile {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.profile .info {
    text-align: left;
    font-size: 1.1em;
    margin: 10px 0;
}

.profile .info strong {
    color: var(--primary-color);
}

.profile a {
    color: var(--primary-dark);
    text-decoration: none;
    font-weight: bold;
}

.profile a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: var(--primary-dark);
}

/* responsive */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    header h1 {
        font-size: 1.8em;
    }

    .profile .info p {
        font-size: 1em;
    }
}

